[submodule "data/dataset"]
	path = data/dataset
	url = https://huggingface.co/datasets/LennardZuendorf/legalis
[submodule "app/app"]
	path = app/app
	url = https://huggingface.co/spaces/LennardZuendorf/legalis
